<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease</title>
</head>
<body>
    <div class="container">
    </div>
      <div class="con">
      </div>
      <div class="out">
        <h1 style="color: white;"> Output:</h1>
        <br>
        <label for="" style="font-size: larger;">{{prediction}}</label>
        
      </div>
</body>
</html>